@model global::HtmlHelper.Models.Employe
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
<div>


    @using (Html.BeginForm())
    {
        <fieldset>
            <legend> Save student</legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Name)</td>
                    <td>@Html.TextBoxFor(m => m.Name)</td>
                    <td>@Html.ValidationMessageFor(m => m.Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Email)</td>
                    <td>@Html.TextBoxFor(m => m.Email)</td>
                    <td>@Html.ValidationMessageFor(m=>m.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Gender)</td>

                    <td>@Html.RadioButtonFor(m => m.Gender, "Male")Male
                        @Html.RadioButtonFor(m => m.Gender, "Female")Female
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Department)</td>
                    <td>@Html.DropDownListFor(m => m.Department, new SelectList(ViewBag.Department, "value", "text"))</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Address)</td>
                    <td>@Html.TextAreaFor(m => m.Address)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Password)</td>
                    <td>@Html.PasswordFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Save"/>
                    </td>
                </tr>
            </table>
        </fieldset>

    }

</div>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
